@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

div#game{
background: #FFF;
margin:auto;
width:600px;
}

.radio input{

}

div.option{
color: #F00;
}

div#gameboard{
width: 160px;
}

div#gameboard div{
float: left;
width:50px;
height:50px;
border: solid 1px #000;
}

.playerlabel{
font-family: Gloria Hallelujah;
font-size: 78px;
position: relative;
top: -63px;
left: 5px;
border: 0px solid !important;
}

.timeleft{
border:none !important;
position: relative;
top: -18px;
left: 0px;
color: #F00;
font-size: 17px;
}